.header-logo {
    background-image: url("../image/logo.png");
    background-size: 160px 40px;
    height: 40px;
    width: 160px;
}

pre {
    white-space: pre;
}

article.pytorch-article section code {
  padding: .2em .4em;
  background-color: #f3f4f7;
  border-radius: 5px;
}

/* Disable the change in tables */
article.pytorch-article section table code {
  padding: unset;
  background-color: unset;
  border-radius: unset;
}

table.autosummary td {
  width: 50%
}
